<div class="backend-content">
  <h5> Backend Content </h5>
  {{vm.beContent}}
  <br/>
  <button type="button" class="btn btn-primary" ng-click="vm.getName()">Get Name</button>
  <button type="button" class="btn btn-danger" ng-click="vm.cancel()">Cancel</button>

  <form ng-submit="vm.login(form)">
    <input type="text" ng-model="vm.user.username" name="username">
    <input type="password" ng-model="vm.user.password" name="password">

    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>